body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

header h1 {
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    margin-top: 20px;
    background-color: #006EB6;
    }

header h2 {
    font-size: 24px;
    letter-spacing: 1px;
    color: #006EB6;
    margin-bottom: 20px;
}

main {
    text-align: left;
    padding: 0 20px;
}

section {
    margin-bottom: 20px;
}

section h3 {
    font-size: 28px;
    letter-spacing: 1px;
    color: #000;
}

section p, section ul {
    font-size: 18px;
    color: #333;
}


footer {
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 220px;
}

body.dark, body.dark , body.dark , body.dark h3, body.dark p, body.dark li {
    background-color: #333;
    color: #fff;
}

.dark header h1 {
    color: #fff;
}

.dark header h2 {
    color: #58afe8;
}


