/* blog.css */

body {
    font-family: 'Helvetica', Arial, sans-serif;
    color: #473144;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lora', Impact, serif;
    color:#AF1B3F;
}
h1 {
    margin-left: 600px;
}

a {
    color: #AF1B3F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    padding: 20px;
    border: 2px solid #EFC69B;
}

nav {
    text-align: center;
    padding: 10px;
}

.main-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    padding: 0;
    list-style: none;
    border: #EFC69B;
}

.main-nav li {
    margin: 0 10px;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background: #EFC69B;
    color: #473144;
    padding: 5px;
}

.skiptocontent a:focus {
    top: 0;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}
.skip-link {
    position: fixed;
    top: 50%;
    left: -100%;
    padding: 1em;
    background: #000;
    background:#EFC69B ;
    color: #EFC69B;
    text-decoration: none;
    transform: translateY(-50%);
    transition: left 0.5s;
}

.skip-link:focus {
    left: 0;
}

.articles {
    display: grid;
    gap: 20px;
}

.article-details {
    width: 200px; 
    padding: 10px;
    height: 410px;
    position: absolute;
    left: 0; 
    border-right: 1px solid #EFC69B 
    
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 300px;
}


.articles {
    display: grid;
    gap: 20px;
}

.article-details-second {
    width: 200px; 
    padding: 10px;
    height: 410px;
    position: absolute;
    left: 0;
    margin-top:57px ;

    border-right: 1px solid #EFC69B 
    
}

.article-content-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 300px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    border: 2px solid #EFC69B;}

article img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #EFC69B;
}
